
.aim-page {
    height: 100%;
}

.aim-page-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    .hide-sm{
        display: inherit;
    }
}

.posts-container {
    align-self: flex-start;
    display: grid;
    gap: 1em;    
    transition: all 0.2s ease-in-out;

    .select{
        width: 100%;
    }
}


.branch-container {
    width: 100%;
    display: grid;
    grid-auto-rows: auto 1fr;
    row-gap: 1em;
    .aim-heading {

        .btn-regular{
            text-transform: lowercase;
        }
        .fas{
            cursor: pointer;
        }

    }

    .aim-content{
        .group-elements{
            .tooltip{
                width: auto;
                @include roundedBorders();
                background-color: $yellow;
                color: $dark;
                position: absolute;
                margin-top: 2em;
                text-align: center;
                font-family: Roboto;
                padding: .4em;
                z-index: 3;
            }
            i:hover .tooltip {
                display: inline-block !important;
            }
            li:hover{
                cursor: pointer;
            }
        }
    }
}



.popup{
    width: 100vw;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);

    .aim-form-container, .floating-post {
        @include flexCenter(space-around, column);
        backdrop-filter: none;
        .aim-form{
            background: none;
            min-width: 300px;
            max-width: 500px;
            height: 80%;
            @include flexCenter(center, column, center);
    
        }
    
        .post-form{
            background: none;

            max-width: 500px;
            height: fit-content;
            margin: 1em 0;
    
        }
    
        .checkbox{
            margin: 1em 0;
        }
        
        .form-group{
            input{
                width: 200px;
            }
        }
    }
}
