.landing {
    background-image: 
        linear-gradient(rgba($p-lighter, 1), rgba($orange, 0.7)),
        url('../img/arrows.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    transition: all .5s ease-in-out;

    .message{
        font-size: 20px;
        padding: 2em 0 1em 0;
        text-align: center;
        font-weight: 400;
    }
}



.landing-grid-one{
    display: grid;
    grid-template-columns: 1fr 0;
}

.landing-grid-two{
    display: grid;
    grid-template-columns: 3fr 2fr;

}

.lan-card {
    grid-column: 1 / 2;
    height: 30vh;
    min-height: 350px;
    width: auto;
    padding: 4em;
    justify-self: center;
    align-self: center;
    @include roundedBorders();
    @include flexCenter(flex-start, column);
    align-items: center;
    backdrop-filter: blur(0);
    transition: all .1s ease-in-out;
    &:hover{
        backdrop-filter: blur(20px);
    }
}

.sidebar {
    position: unset;
    grid-column: 2 / 3;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
    backdrop-filter: blur(20px);
    @include flexCenter($direction: column);
    .form{
        padding: 0 2em;
        width: 90%;
        .btn{
            width: fit-content !important;
        }
    }
    input, textarea {
        width: 100% !important;
    }
}

.slide {
    transform: translateY(0);
    opacity: 1;
}

.lan-card:active + .sidebar {
    transform: translateY(0);
    opacity: 1;
}

