.landing {
    transition: all .5s ease-in-out;
    h1{
        text-align: left;
    }
    .message{
        text-align: left;
    }
}



.landing-grid-one{
    display: grid;
    grid-template-columns: 1fr 0;
}

.landing-grid-two{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.lan-card {
    grid-column: 1 / 2;
    width: auto;
    height: auto;
    padding: 4em;
    justify-self: start;
    align-self: center;
    @include roundedBorders();
}

.sidebar {
    position: unset;
    grid-column: 2 / 3;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
    @include flexCenter($direction: column);
    background-color: rgba($p-light, 0.1);
    .form{
        padding: 0 2em;
        width: 90%;
        .btn{
            width: fit-content !important;
        }
    }
    input, textarea {
        width: 100% !important;
    }
}

.slide {
    transform: translateY(0);
    opacity: 1;
}

.lan-card:active + .sidebar {
    transform: translateY(0);
    opacity: 1;
}

