.landing {
    background-image: linear-gradient(rgba($darker, 1), rgba($darker, 0), rgba($darker, 1)), url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
    h1{
        text-align: left;
    }
    .message{
        text-align: left;
    }
}



.landing-grid-one{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.landing-grid-two{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.lan-card {
    grid-column: 1 / 2;
    width: auto;
    height: auto;
    padding: 4em;
    justify-self: start;
    align-self: center;

    .buttons{
        .btn{
            justify-self: start !important;

        }
    }
}

.sidebar {
    position: unset;
    grid-column: 2 / 3;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
    @include flexCenter($direction: column);
    .form{
        .btn{
            width: fit-content !important;
        }
    }
    input, textarea {
        width: 100% !important;
    }
}

.slide {
    transform: translateY(0);
    opacity: 1;
}

.lan-card:active + .sidebar {
    transform: translateY(0);
    opacity: 1;
}

