.navbar {
    @include flexCenter(space-between);
    padding: .4rem 2rem;

    .navigation{
        width: fit-content;
        @include flexCenter(space-around);
        .btn {
            padding: .2em .5em;
            border-radius: 0;
            border-bottom: 3px solid rgba($color: #000000, $alpha: 0);
            transition: all .3s ease-in-out;
            &:hover {
                h3{
                    color: $orange;
                }
            }
        }
        .nav {
            font-weight: 700;
            h3 {
                font-size: large;
                color: $p-lighter;
            }
        }
    
        i {
            display: none;
        }
    }

    .logo {
        a {
            color: $teal;
        }
    }

    
}

.hide-sm{
    display: block;
}
