
.profile-setup{
    @include flexCenter($direction: column);
    .form-container{
        max-width: 500px;
        .form{
            height: 100%;
            width: 100%;
            .form-group{
                margin: 0;
                padding: 0;
                width: 100%;
                textarea{
                    margin: 1em 0;
                }
            }
        }
    }
}