.profile-container{
    padding-top: 5em;
    .form-container{
        width: 100%;
        height: 100%;
        .form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr auto;
            gap: 1em;
            width: 100%;

            input, textarea{
                width: 90%;
            }

            h3{
                margin: 1em 0;
                padding: 0.5em;
                border-bottom: 1px solid $gray;
                width: 100%;
            }



            .user{
                @include roundedBorders();
                background-color: $white;;
                grid-row: 1 / 1;
                grid-column: 1 / 1;
                align-self: center;
                justify-self: center;
                padding: 1em;
                width: 100%;
                height: 100%;
            }

            .about{
                padding: 1em;
                margin: 0;
                grid-row: 1 / 3;
                grid-column: 2 / 3;
                align-self: stretch;
                justify-self: stretch;
                @include roundedBorders();
                @include flexCenter($direction: column);
                .form-group{
                    width: 100%;
                }
                background-color: $white;;
                textarea{
                    overflow: scroll;
                }
            }
            
            
            .social-media{
                padding: 1em;
                .form-group{
                    @include flexCenter();
                    input {
                        width: 70%;
                    }
                    
                }
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                align-self: center;
                justify-self: stretch;
                height: 100%;
                @include roundedBorders();
                background-color: $white;;
            }
            .buttons{
                grid-row: 3 / 3;
                grid-column: 1 / 3;
                align-self: center;
                justify-self: center;
                width: 50%;
            }
        }
    }
}