.aim-form-container {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
    width: 100vw;
    height: 100vh;
    animation: blur .2s forwards;
    padding: 1em;
    .aim-form{
        grid-column: 2/ 3;
        grid-row: 2/ 3;
        justify-self: center;
        align-self: center;
        
        input{
            max-width: 80%;
        }
    }
}