
.aim-page {
    width: 100vw;
    background-image: linear-gradient(rgba($p-lighter, 1), rgba($orange, 0.7));
    padding: 1em;
    
}

.aim-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    justify-items: center;    
}

.posts-container {
    overflow: scroll;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.aim-heading {
    background-color: rgba($p-lighter, 0.4);
    backdrop-filter: blur(10px);
    @include roundedBorders();
    margin-top: 4em;
    padding: 1em;
    width: 100%;

    text-align: center;
    .page-title{
        text-transform: uppercase;
    }
    .list-goals {
        display: flex;
        margin: .5em 0;
        .goal {
            background-color: $orange;
            padding: .2em .5em;
            margin: 0 .2em;
            color: white;
            @include roundedBorders();
            
        }
    }
}

.branch-container {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 5fr;
    row-gap: 1em;

    .aim-content{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-gap: 1em;
        .group-elements{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include roundedBorders();

            background-color: rgba($color: $p-lighter, $alpha: 0.4);
            backdrop-filter: blur(10px);

            .show-hover {
                visibility: hidden;
            }
            &:hover {
                @include roundedBorders();
                overflow: visible;

                background-color: $p-dark;
                color: $p-light;
                .show-hover {
                    visibility: visible;
                    
                }
            }
            
            .title {
                text-align: center;

            }
            i {
                padding: .2em .4em;
                font-size: 20px;
                color: $pink;
                .tooltip{
                    visibility: hidden;
                    width: auto;
                    @include roundedBorders();
                    background-color: rgba($color: $pink, $alpha: .7);
                    color: $p-lighter;
                    position: absolute;
                    text-align: center;
                    font-family: Roboto;
                    padding: .4em;
                    z-index: 3;
                }
                &:hover .tooltip {
                    visibility: visible;
                }
            }
            li {
                width: 100%;
                text-align: center;
                margin: 0 1em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.aim-form-container, .floating-post {
    padding: 4em;
    @include roundedBorders();
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 2;
    background-color: rgba($color: white, $alpha: .4);
    backdrop-filter: blur(10px);

}