.alert{
    position: fixed;
    opacity: 0;
    left: 20%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em;
    @include roundedBorders();
    color: white;
    animation: fadein 3s;
}

.error{
    background-color: rgba($pink, 1);
}

.success{
    background-color: rgba($green, 1);
}

@keyframes fadein {
    0%      { opacity: 0; top: 0; }
    20%     { opacity: 1; top: 4em; }
    80%     { opacity: 1; top: 4em; }
    100%    { opacity: 0; top: 0; }
}
