.boards-page {
    background: $p-lighter;
    @include flexCenter($direction: column);
    padding: 1em;
    .create-post-form{
        padding: 1em;
        width: 100%;
        background-color: $white;
        @include roundedBorders();
        @include flexCenter(space-between, row, flex-start);
        .avatar {
        }
        .post-form{
            textarea{
                @include roundedBorders();
                background-color: rgba($color: $p-light, $alpha: 0.2);
                font: inherit;
                padding: .5rem 1rem;
                outline: none;
                width: 100%;
                border: 1px solid $gray;
                transition: all .3s ease-in-out;
                &:focus{
                    background-color: rgba($color: $white, $alpha: .8);
                }
                ::placeholder{
                    color: $darker;
                }
            }
            .select{
                @include flexCenter(space-between)
            }

        }

    }
    .boards-container, .posts-container{
        margin-top: 1em;
        width: 100%;

        .post-container{
            display: flex;
            margin: 1em 0;
            width: 100%;
            background-color: $white;
            @include roundedBorders();
            .select{
                width: 100%;
            }
            .user {
                padding: 1em 0 0 1em;
                .avatar{
                    width: 50px;
                }
            }
            .post {
                @include flexCenter(flex-start, column);
                width: 100%;
                .text{
                    width: 80%;
                    padding: 1em;
                    border-bottom: 1px solid $gray;
                }
                .aim-title{
                    margin: .5em;
                    width: 80%;
                    background-color: $green;
                    text-align: center;
                    @include roundedBorders();
                }
                .stats {
                    border-bottom: 1px solid $gray;

                    display: flex;
                    justify-content: space-between;
                    padding: .5em 0;
                    width: 80%;
                    .fa, .fas, .far{
                        font-size: 1.2em;
                    }
                
                    p{
                        color: $gray;
                        text-align: center;
                        font-size: .7em;
                        margin-left: .2em;
                    }
                    .fa-heart{
                        color: $pink;
                    }
                    .far.fa-heart{
                        color: $blue;
                    }
                    .fa-comment-dots{
                        color: $teal;
                    }
                    .fa-calendar-alt{
                        color: $gray;
                        display: flex;
                        align-items: center;
                    }
                    .fa-times-circle{
                        color: $dark;
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
            .comments {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0.5em 0;
                .tip{
                    color: $gray;
                    font-size: 10px;
                    text-align: center;
                }
                .comment-body{
                    width: 100%;
                    
                    display: flex;
                    align-items: center;
                    margin: 0.2em 0;
                    .avatar{
                        width: 20px;
                        height: 20px;
                        margin: 0 1em;
                    }
                    .content{
                        @include roundedBorders();
                        background-color: $p-light;
                        padding: .3em .5em;
                    }
                }
                .add-comment{
                    margin: 1em 0;
                    width: 90vw;
                    display: flex;
                    justify-content: space-between;
                    .avatar {
                        width: 30px;
                        height: 30px;
                    }
                    .btn, .btn-highlight{
                        margin: 0 1em;
                        padding: .25em .5em ;
                        text-align: center;
                        color: white;
                    }
                    .add-comment-form {
                        @include flexCenter(space-between, row, center);
                    }
                    input{
                        @include roundedBorders();
                        @include flexCenter(space-between);
                        background-color: rgba($color: $p-light, $alpha: 0.2);
                        font: inherit;
                        padding: .5rem 1rem;
                        margin: 0 .5em;
                        outline: none;
                        border: 1px solid $gray;
                        transition: all .3s ease-in-out;
                        &:focus{
                            background-color: rgba($color: $white, $alpha: .8);
                        }
                        ::placeholder{
                            color: $darker;
                    }
                }
            }
        }
    }
}}