.boards-page {
    background-color: $darker;
    width: 100vw;
    padding: 1em;

    display: grid;
    grid-auto-rows: auto;
    gap: 1em;
    
    transition: all 0.2s ease-in-out;

    .boards-container{
        width: 100%;
        display: grid;
        gap: 1em;
    }

    .select{
        width: 100%;
    }
}

.create-post-form{
    padding: 1em;
    width: 100%;
    background-color: $dark;
    @include roundedBorders();

    .create{
        @include flexCenter(space-between);

        .img{
            width: 30px;
            height: 30px;
            img{
                @include roundedBorders();
                width: 30px;
                height: 30px;
            }
        }
        textarea{
            @include roundedBorders();
            height: 2.5em;
            padding: .5em 1em;
            margin: 0 1em;
            resize: none;
            overflow: scroll;
            background-color: $midway;
            font: inherit;
            outline: none;
            width: 100%;
            border: 1px solid $gray;
        }
    }
    
}



@keyframes blur {
    0% {backdrop-filter: blur(0px); background: rgba(black, 0);}
    100% {backdrop-filter: blur(20px); background: rgba(black, 0.5)}
}

