.form-container{
    // margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    min-width: 350px;
    padding: 2rem;
    text-align: center;
    background-color: transparent;
}

.form{
    @include flexCenter(center, column, flex-start);
    height: 80%;
    
}

.form-group {
    @include flexCenter(space-between, column, center);
    align-self: center;
    padding: .7em 0;

    input{
        background-color: $p-light;
        @include roundedBorders();
        // border: solid $primary 1px;
        font: inherit;
        padding: .5rem 1rem;
        width: 300px;
        outline: none;
        
        &:focus{
            background-color: $p-lighter;
        }
    }
}