.form-container{
    // margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-width: 350px;
    padding: 2rem 1rem;
    text-align: center;
    background-color: transparent;
}

.form-tooltip{
    margin: 1em 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: $dark;
    .link-text {
        color: $blue;
        font-weight: 500;
    }
}

.form{
    .form-group {
        @include flexCenter(space-between, column, center);
        padding: .7em 0;
        textarea{
            resize: none;
        }
        input, textarea{
            @include roundedBorders();
            background-color: rgba($color: $p-light, $alpha: 0.2);
            font: inherit;
            padding: .5rem 1rem;
            width: 90vw;
            outline: none;
            overflow: hidden;
            border: 1px solid $gray;
            transition: all .3s ease-in-out;
            &:focus{
                background-color: rgba($color: $white, $alpha: .8);
            }
            ::placeholder{
                color: $darker;
            }
        }
    }
    .checkbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        span {
            margin-right: 1em;
        }
    }
}

