.form-container{
    // margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    min-width: 350px;
    padding: 2rem;
    text-align: center;
    background-color: rgba($color: $p-light, $alpha: .4);
}

.form{
    @include flexCenter(center, column, flex-start);
    height: 80%;    
}

.form-group {
    @include flexCenter(space-between, column, center);
    align-self: center;
    padding: .7em 1em;
    input{
        @include roundedBorders();
        border: solid $primary 1px;
        font: inherit;
        padding: .5rem 1rem;
        width: 300px;
        outline: none;
        
        &:focus{
            border: solid $p-dark 3px;
        }
    }
}