.landing {
    background-image: linear-gradient(rgba($primary, 1), rgba(255, 174, 0, 0.5)),
        url('../img/arrows.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}