@mixin flexCenter ($spacing, $direction:row ){
    display: flex;
    align-items: center;
    align-content: center;

    justify-content: $spacing;
    flex-direction: $direction;
}

@mixin roundedBorders{
    border: none;
    border-radius: 5px;
    overflow: hidden;
}