
.profile-setup{
    height: 100vh;
    width: 100vw;
    background-image: 
    linear-gradient(rgba($p-lighter, 1), rgba($orange, 0.7)),
    url('../img/arrows.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2{
        text-align: center;
        margin-top: 2em;
    }
    .form-container{
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        @include flexCenter();
        .form{
            height: 50%;
            .form-group{
                margin: 1em 0;
                label{
                    padding: .5em 1em;
                    font-weight: 500;
                    font-size: 18px;
                    color: $dark;
                }
            }

            .buttons{
                width: 100%;
                @include flexCenter($spacing: space-around);
            }
        }
    }
}