
.profile-setup{
    h2{
        text-align: center;
        margin: 2em 0;
        color: $p-lighter;
    }
    .form-container{
        @include flexCenter();
        margin: 0;
        padding: 0;
        .form{
            width: 100%;
            margin: 0;
            padding: 0;
            .form-group{
                label{
                    padding: .5em 0;
                    font-weight: 500;
                    font-size: 18px;
                    color: $p-light;
                }

                input, textarea {
                    width: 100%;
                    color: $p-light;
                    &:focus, &:active{
                        color: $dark;
                    }
                }
            }

            .buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .btn-regular{
                    grid-column: 1/ 2;
                }
                .btn-highlight{
                    grid-column: 2/ 3;
                }
            }
        }
    }
}