.profile-container{
    background: linear-gradient(rgba($p-light, .1) 0%, rgba($orange, 0.2) 30%);
    @include flexCenter($direction: column);

    .form {
        label{
            margin: .5em;
            font-weight: 500;
        }
        .buttons{
            width: 100%;
            @include flexCenter(space-around);
        }
    }
    .about{
        margin: 1em 0;
        textarea{
            overflow: scroll;
        }
    }
    .social-media{
        .form-group{
            @include flexCenter($direction: row);
            input {
                width: 100%;
            }
            .fab {
                margin: 0 1em 0 0;
                font-size: 1.5em;
            }
        }
    }
    .user{
        @include flexCenter($direction: column);

        .avatar {
            width: 100px;
            margin: 1em 0;
        }
    }
}