* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: $darker;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

body, a, p, ul, li {
    text-decoration: none;
    color: $p-lighter;
    font: inherit;
}

li {
    list-style: none;
}

i, .fa, .fab, .fas {
    display: inline-block;
    text-align: center;
}

input, textarea, form {
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

::-moz-placeholder{
    color: $gray;
}