// buttons --------------------


//container
.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    .info{
        cursor: pointer;
    }
}

// styles
.btn {
    @include roundedBorders();
    padding: .5em 1em;
    font-size: inherit;
    font-weight: 500;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $white;
}

.btn-danger{
    color: $gray;
    background-color: transparent;

    &:hover{
        color: $darker;
        font-weight: 600;
        background-color: $pink;
    }
}

.btn-regular {
    background-color: transparent;
    color: $dark;
    transition: all .1s ease-in-out;

    &:hover{
        font-weight: 600;
        color: $darker;
    }
    
    &:active{
        color: $dark;

    }
}

.btn-highlight {
    background-color: $blue;
    color: $p-light;
    transition: all .1s ease-in-out;

    &:hover{
        background-color: lighten($color: $blue, $amount: 10%) ;
        font-weight: 600;

    }
    &:active{
        background-color: $blue;
    }
}

.fabutton{
    font-size: 24px;
    background: none;
    outline: none;
    color: $red;
}




// partial/ base component styles
.avatar {
    border-radius: 50%;
    overflow: hidden;
}

.info {
    font-family: $primary-font;
    margin: 0 .2em;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

// hide components




// OLD ---------------------------------------------------------------------



// migrate ========
.container {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
}

.landing-container{
    height: 100vh;
    width: 100vw;
    @include flexCenter(flex-end, row, flex-start);
}

.tooltip{
    margin: 2rem 0;
    font-size: 16px;
    align-self: center;
}


// ????????????????????????????? 

.submit{
    margin: 1rem 0;
    align-self: center;
}






