.container {
    height: 100vh;
    width: 100vw;
    // background: linear-gradient(rgba($primary, 1), 20%, rgb(255, 255, 255));
    padding: 2rem 4rem;
    @include flexCenter(center, row, center);

}

.landing-container{
    height: 100vh;
    width: 100vw;
    @include flexCenter(flex-end, row, flex-start);
}

// .blur {
//     filter: blur(10px);
// }

.btn {
    @include roundedBorders();
    background-color: $p-light;
    padding: .5em 1em;
    font: inherit;
    font-weight: 600;
    outline: none;
    text-align: center;
}

.btn:hover{
    transition: all .2s ease-in-out;
    background-color: $p-light;
    cursor: pointer;
}

.btn:active{
    padding: .5rem 2rem;
    background-color: $p-dark;
}

.buttons {
    width: 40%;
    @include flexCenter(space-around);
}

.txt-xl {
    font-size: 50px;
}


.submit{
    margin: 1rem 0;
    align-self: center;
}

.tooltip{
    margin: 2rem 0;
    font-size: 16px;
    
}

.link {
    color: $dark-blue;
    &:hover{
        text-decoration: underline;
    }
}

.fade{
    
    &::selection{
        color: red;
    }
}