
//light theme color scheme
$primary: #d1d1d1;
$p-light: #fff;
$p-dark: #929292;

// accent colors
$red: rgb(255, 59, 48);
$teal: rgb(90, 200, 250);
$blue: rgb(0, 122, 255);
$green: rgb(52, 199, 89);
$indigo: rgb(88, 86, 214);
$orange: rgb(255, 149, 0);
$pink: rgb(255, 45, 85);
$purple: rgb(175, 82, 222);
$yellow: rgb(255, 204, 0);
