
//light base color scheme
$primary: rgb(209, 209, 214);
$p-light: rgb(229, 229, 234);
$p-lighter: rgb(242, 242, 247);
$p-dark: rgb(28, 28, 30);
$gray: rgb(142, 142, 147);
$dark: rgb(44, 44, 46);
$darker: rgb(28, 28, 30);
$white: rgba(white, .5);

// accent colors
$teal: rgb(90, 200, 250);
$blue: rgb(0, 122, 255);
$green: rgb(52, 199, 89);
$indigo: rgb(88, 86, 214);
$purple: rgb(175, 82, 222);
$red: rgb(255, 59, 48);
$pink: rgb(255, 45, 85);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);


// fonts

$primary-font: Roboto, sans-serif;