* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 1rem 4rem;
  background: #fff;
}

.navbar .logo a {
  color: #5ac8fa;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  margin-right: 1em;
}

.navbar ul li a {
  font-weight: 700;
  font-size: larger;
}

.navbar ul li input {
  width: 100px;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  padding: .75em 1em;
  font: inherit;
}

.navbar ul li input:focus {
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: #fff;
  width: 100%;
}

.navbar ul li ::-webkit-input-placeholder {
  color: #1c1c1e;
}

.navbar ul li :-ms-input-placeholder {
  color: #1c1c1e;
}

.navbar ul li ::-ms-input-placeholder {
  color: #1c1c1e;
}

.navbar ul li ::placeholder {
  color: #1c1c1e;
}

.search {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background-color: #d1d1d1;
  border: solid #fff 1px;
}

.search i {
  padding: 0 .5em;
  color: #1c1c1e;
}

.search:focus-within {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.landing {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 145, 0, 0.7))), url("../img/arrows.jpg");
  background-image: linear-gradient(white, rgba(255, 145, 0, 0.7)), url("../img/arrows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.landing .message {
  font-size: 20px;
  padding: 2em 0 1em 0;
  text-align: center;
  font-weight: 400;
}

.landing-grid-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0;
      grid-template-columns: 1fr 0;
}

.landing-grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.lan-card {
  height: 50vh;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar {
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.slide {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.lan-card:active + .sidebar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn {
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  padding: .5em 1em;
  font: inherit;
  font-weight: 600;
  outline: none;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: white;
  cursor: pointer;
}

.btn:active {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.buttons {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.txt-xl {
  font-size: 50px;
}

.submit {
  margin: 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tooltip {
  margin: 2rem 0;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.link {
  color: #007aff;
}

.link:hover {
  text-decoration: underline;
}

.fade::-moz-selection {
  color: red;
}

.fade::selection {
  color: red;
}

.fabutton {
  font-size: 24px;
  background: none;
  outline: none;
  color: red;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  min-width: 350px;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: .7em 1em;
}

.form-group input {
  border: none;
  border-radius: 7px;
  overflow: hidden;
  border: solid #d1d1d1 1px;
  font: inherit;
  padding: .5rem 1rem;
  width: 300px;
  outline: none;
}

.form-group input:focus {
  border: solid #1c1c1e 3px;
}

.branch-container {
  width: 100%;
}

.branch-container .branch-group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
}

.branch-container .branch-group .group-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em;
  padding: .3em 1em;
}

.branch-container .branch-group .group-elements:hover {
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background-color: #1c1c1e;
  color: #fff;
}

.branch-container .branch-group .group-elements i {
  padding: .2em .4em;
  font-size: 20px;
  color: #ff2d55;
}

.branch-container .branch-group .group-elements i .tooltip {
  visibility: hidden;
  width: auto;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background-color: rgba(255, 45, 85, 0.7);
  color: #fff;
  position: absolute;
  text-align: center;
  padding: .4em;
  z-index: 1;
}

.branch-container .branch-group .group-elements i:hover .tooltip {
  visibility: visible;
}

.branch-container .branch-group .group-elements li {
  width: 100%;
  text-align: center;
  margin: 0 1em;
}

.branch-container .branch-group .group-elements li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */