* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #1c1c1e;
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body, a, p, ul, li {
  text-decoration: none;
  color: #f2f2f7;
  font: inherit;
}

li {
  list-style: none;
}

i, .fa, .fab, .fas {
  display: inline-block;
  text-align: center;
}

input, textarea, form {
  scrollbar-width: none;
}

input::-webkit-scrollbar, textarea::-webkit-scrollbar, form::-webkit-scrollbar {
  display: none;
}

::-moz-placeholder {
  color: #8e8e93;
}

.buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.buttons .info {
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  padding: .5em 1em;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.btn-danger {
  color: #8e8e93;
  background-color: transparent;
}

.btn-danger:hover {
  color: #1c1c1e;
  font-weight: 600;
  background-color: #ff2d55;
}

.btn-regular {
  background: none;
  color: #e5e5ea;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-regular:hover {
  font-weight: 600;
  color: #f2f2f7;
}

.btn-regular:active {
  color: #2c2c2e;
}

.btn-highlight {
  background-color: #007aff;
  color: #e5e5ea;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-highlight:hover {
  background-color: #3395ff;
  font-weight: 600;
}

.btn-highlight:active {
  background-color: #007aff;
}

.fabutton {
  font-size: 2em;
  background: none;
  outline: none;
  color: #ff3b30;
}

.info {
  font-family: Roboto, sans-serif;
  margin: 0 .2em;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.landing-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tooltip {
  margin: 2rem 0;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.submit {
  margin: 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  background-color: transparent;
}

.form-tooltip {
  margin: 1em 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #f2f2f7;
}

.form-tooltip .link-text {
  color: #007aff;
  font-weight: 500;
}

.form {
  width: 100%;
}

.form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  width: 100%;
}

.form-group textarea {
  resize: none;
}

.form-group input, .form-group textarea {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  font: inherit;
  color: black;
  padding: .5rem 1rem;
  width: 100%;
  outline: none;
  overflow: hidden;
  border: 1px solid #8e8e93;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  scrollbar-width: none;
}

.form-group input:focus, .form-group input:active, .form-group textarea:focus, .form-group textarea:active {
  background-color: white;
  color: #1c1c1e;
}

.form-group input::-webkit-input-placeholder, .form-group input::-webkit-input-placeholder, .form-group input::-moz-placeholder, .form-group textarea::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder, .form-group textarea::-moz-placeholder {
  color: #3a3a3c;
}

.form-group input::placeholder, .form-group input::-webkit-input-placeholder, .form-group input::-moz-placeholder, .form-group textarea::placeholder, .form-group textarea::-webkit-input-placeholder, .form-group textarea::-moz-placeholder {
  color: #3a3a3c;
}

.alert {
  position: fixed;
  opacity: 0;
  left: 20%;
  right: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}

.error {
  background-color: #ff2d55;
}

.success {
  background-color: #34c759;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    top: 0;
  }
  20% {
    opacity: 1;
    top: 6em;
  }
  80% {
    opacity: 1;
    top: 6em;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: 0;
  }
  20% {
    opacity: 1;
    top: 6em;
  }
  80% {
    opacity: 1;
    top: 6em;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

@media screen and (min-width: 620px) {
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
      top: 0;
    }
    20% {
      opacity: 1;
      top: 4em;
    }
    80% {
      opacity: 1;
      top: 4em;
    }
    100% {
      opacity: 0;
      top: 0;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
      top: 0;
    }
    20% {
      opacity: 1;
      top: 4em;
    }
    80% {
      opacity: 1;
      top: 4em;
    }
    100% {
      opacity: 0;
      top: 0;
    }
  }
}

.landing {
  background-color: #1c1c1e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1e), color-stop(rgba(28, 28, 30, 0)), to(#1c1c1e)), url("../img/bg2-mobile.jpg");
  background-image: linear-gradient(#1c1c1e, rgba(28, 28, 30, 0), #1c1c1e), url("../img/bg2-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -ms-grid;
  display: grid;
}

.lan-card {
  width: 100%;
  height: 25%;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lan-card h1 {
  color: #5ac8fa;
  text-align: center;
  width: 100%;
}

.lan-card p {
  color: #ff9500;
}

.lan-card .message {
  font-size: 1.2em;
  margin: 0.5em 0;
  text-align: center;
  font-weight: normal;
}

.lan-card .buttons {
  margin: 1em 0;
}

.sidebar {
  position: absolute;
  height: 100%;
  padding-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  background-color: rgba(28, 28, 30, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  z-index: 2;
}

.sidebar .form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar .form input {
  width: 100%;
}

.sidebar .form .form-group {
  margin: 1em 0;
  padding: 0;
}

.slide {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1.0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  background: #1c1c1e;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  padding: 0 2em;
}

.navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.navbar .navigation .nav {
  font-size: 1.2em;
  color: #ff9500;
}

.navbar .navigation .btn {
  background: none;
}

.navbar .navigation i {
  font-size: 1.7em;
}

.navbar .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hide-sm {
  display: none;
}

.profile-container {
  background: #1c1c1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-container .form label {
  margin: .5em;
  font-weight: 500;
}

.profile-container .form textarea, .profile-container .form input {
  color: #e5e5ea;
}

.profile-container .form textarea:active, .profile-container .form textarea:focus, .profile-container .form input:active, .profile-container .form input:focus {
  color: #1c1c1e;
}

.profile-container .form .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile-container .about {
  margin: 1em 0;
  width: 100vw;
}

.profile-container .about textarea {
  overflow: scroll;
}

.profile-container .social-media .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 1em 0;
}

.profile-container .social-media .form-group .fab {
  margin: 0 1em 0 0;
  font-size: 1.5em;
}

.profile-container .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-container .user .avatar {
  width: 100px;
  margin: 1em 0;
}

.profile-setup h2 {
  text-align: center;
  margin: 2em 0;
  color: #f2f2f7;
}

.profile-setup .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

.profile-setup .form-container .form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-setup .form-container .form .form-group label {
  padding: .5em 0;
  font-weight: 500;
  font-size: 18px;
  color: #e5e5ea;
}

.profile-setup .form-container .form .form-group input, .profile-setup .form-container .form .form-group textarea {
  width: 100%;
  color: #e5e5ea;
}

.profile-setup .form-container .form .form-group input:focus, .profile-setup .form-container .form .form-group input:active, .profile-setup .form-container .form .form-group textarea:focus, .profile-setup .form-container .form .form-group textarea:active {
  color: #2c2c2e;
}

.profile-setup .form-container .form .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.profile-setup .form-container .form .buttons .btn-regular {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
}

.profile-setup .form-container .form .buttons .btn-highlight {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
}

.post-form-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  width: 100vw;
  height: 100vh;
  -webkit-animation: blur .2s forwards;
          animation: blur .2s forwards;
  padding: 1em;
}

.post-form-container .select-aim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post-form-container .select-aim .aim {
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: #3a3a3c;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.post-form-container .select-aim .aim:active {
  background-color: #34c759;
}

.post-form-container .select-aim .aim:hover {
  background-color: #34c759;
}

.post-form-container .post-form {
  padding: 1em;
  background-color: #2c2c2e;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr auto;
      grid-template-columns: auto auto 1fr auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0.5em;
}

.post-form-container .post-form .avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
}

.post-form-container .post-form .selected {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
}

.post-form-container .post-form .selected i {
  color: #34c759;
}

.post-form-container .post-form .name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.post-form-container .post-form .btn {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.post-form-container .post-form .search {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  padding: .5em 1em;
  resize: none;
  background-color: #3a3a3c;
  font: inherit;
  outline: none;
  width: 50%;
  height: 2.5em;
  border: 1px solid #8e8e93;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post-form-container .post-form .search:focus {
  background-color: #d1d1d6;
  width: 100%;
}

.post-form-container .post-form .search::-webkit-input-placeholder, .post-form-container .post-form .search::-webkit-input-placeholder, .post-form-container .post-form .search::-moz-placeholder {
  color: #8e8e93;
}

.post-form-container .post-form .search::placeholder, .post-form-container .post-form .search::-webkit-input-placeholder, .post-form-container .post-form .search::-moz-placeholder {
  color: #8e8e93;
}

.post-form-container .post-form .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  width: 100%;
  height: 4em;
  padding: 1em;
  background-color: #3a3a3c;
  color: #e5e5ea;
  font: inherit;
  font-size: 1.1em;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #8e8e93;
  resize: vertical;
  outline: none;
  overflow: scroll;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post-form-container .post-form .text:focus {
  background-color: #d1d1d6;
  color: #2c2c2e;
}

.post-form-container .post-form .text::-webkit-input-placeholder, .post-form-container .post-form .text::-webkit-input-placeholder, .post-form-container .post-form .text::-moz-placeholder {
  color: #8e8e93;
}

.post-form-container .post-form .text::placeholder, .post-form-container .post-form .text::-webkit-input-placeholder, .post-form-container .post-form .text::-moz-placeholder {
  color: #8e8e93;
}

.post-container {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
  background-color: #2c2c2e;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.post-container .tip {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/ 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding: 1em;
  color: #8e8e93;
  font-size: 10px;
  text-align: center;
}

.post-container .user {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.post-container .user .avatar {
  width: 40px;
}

.post-container .text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em 0;
  width: 100%;
  border-bottom: 1px solid #636366;
  color: white;
}

.post-container .aim-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  justify-self: stretch;
  -ms-flex-item-align: center;
      align-self: center;
  color: #e5e5ea;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.post-container .aim-title i {
  padding: 0 0.5em;
  color: #34c759;
  cursor: initial;
}

.post-container .aim-title p {
  color: #f2f2f7;
  font-weight: 500;
}

.post-container .stats {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  border-bottom: 1px solid #636366;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0.5em 0;
}

.post-container .stats .comment-count {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  text-align: center;
}

.post-container .stats .updoots {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.post-container .stats .fa, .post-container .stats .fas, .post-container .stats .far {
  font-size: 1.2em;
}

.post-container .stats p {
  color: #8e8e93;
  text-align: center;
  font-size: .7em;
  margin-left: .2em;
}

.post-container .stats .fa-heart {
  color: #ff2d55;
}

.post-container .stats .far.fa-heart {
  color: #007aff;
}

.post-container .stats .fa-comment-dots {
  color: #5ac8fa;
}

.post-container .fa-clock {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 0 1em;
  color: #8e8e93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-container .fa-clock p {
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  margin: 0 0.5em;
}

.post-container .fa-times-circle {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  color: #1c1c1e;
  font-size: 1.4em;
}

.post-container .fa-times-circle:hover {
  color: #ff3b30;
}

.post-container .add-comment {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  gap: 1em;
  width: 100%;
}

.post-container .add-comment .avatar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30px;
  height: 30px;
}

.post-container .add-comment .btn, .post-container .add-comment .btn-highlight {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 2em;
  width: 2.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.post-container .add-comment input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #3a3a3c;
  font: inherit;
  padding: .5rem 1rem;
  outline: none;
  border: 1px solid #8e8e93;
  width: 100%;
  height: 2em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post-container .add-comment input:focus {
  background-color: #d1d1d6;
}

.post-container .add-comment input ::-webkit-input-placeholder, .post-container .add-comment input::-webkit-input-placeholder, .post-container .add-comment input::-moz-placeholder {
  color: #1c1c1e;
}

.post-container .add-comment input ::placeholder, .post-container .add-comment input::-webkit-input-placeholder, .post-container .add-comment input::-moz-placeholder {
  color: #1c1c1e;
}

.post-container .comments {
  font-size: 0.9em;
  margin: 1em 0;
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.post-container .comments .comment-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em 0;
  overflow-wrap: break-word;
}

.post-container .comments .comment-body .avatar {
  width: 30px;
  height: 30px;
  margin: 1em;
}

.post-container .comments .comment-body .content {
  padding: 1em;
  width: 100%;
  word-wrap: break-word;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #3a3a3c;
}

.post-container .comments .comment-body .content h5 {
  color: #ff9500;
  font-size: 1em;
}

.boards-page {
  background-color: #1c1c1e;
  width: 100vw;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  gap: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.boards-page .boards-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.boards-page .select {
  width: 100%;
}

.create-post-form {
  padding: 1em;
  width: 100%;
  background-color: #2c2c2e;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.create-post-form .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.create-post-form .create .img {
  width: 30px;
  height: 30px;
}

.create-post-form .create .img img {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.create-post-form .create textarea {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  height: 2.5em;
  padding: .5em 1em;
  margin: 0 1em;
  resize: none;
  overflow: scroll;
  background-color: #3a3a3c;
  font: inherit;
  outline: none;
  width: 100%;
  border: 1px solid #8e8e93;
}

@-webkit-keyframes blur {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes blur {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
  }
}

.aim-page {
  width: 100vw;
  padding: 1em;
  background: #1c1c1e;
}

.aim-page-grid {
  display: -ms-grid;
  display: grid;
  gap: 0;
}

.aim-page-grid .hide-sm {
  display: none;
}

.branch-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto 1fr;
  gap: 1em;
}

.branch-container .aim-heading {
  background-color: #2c2c2e;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  padding: 1em;
  width: 100%;
  text-align: center;
}

.branch-container .aim-heading .fas {
  color: #34c759;
}

.branch-container .aim-heading .page-title {
  text-transform: uppercase;
}

.branch-container .aim-heading .list-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: .5em 0;
}

.branch-container .aim-heading .list-goals .goal {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #ff9500;
  padding: .2em .5em;
  margin: .2em;
  color: white;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.branch-container .aim-content {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 4em;
  grid-gap: 1em;
}

.branch-container .aim-content .add-form {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #3a3a3c;
  background: #3a3a3c;
}

.branch-container .aim-content .add-form input {
  color: #e5e5ea;
  width: 90%;
  background-color: #3a3a3c;
  outline: none;
  border: none;
  font: inherit;
  font-size: 1.1em;
  height: 2em;
}

.branch-container .aim-content .add-form input::-webkit-input-placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .add-form input:-ms-input-placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .add-form input::-ms-input-placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .add-form input::placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .add-form .btn {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  background-color: unset;
  color: #34c759;
}

.branch-container .aim-content .group-elements {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #2c2c2e;
  color: #e5e5ea;
}

.branch-container .aim-content .group-elements .title {
  width: 90%;
}

.branch-container .aim-content .group-elements .title input {
  color: white;
  width: 90%;
  background-color: #2c2c2e;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff9500;
  font: inherit;
  font-size: 1em;
  height: 2em;
}

.branch-container .aim-content .group-elements .title input::-webkit-input-placeholder, .branch-container .aim-content .group-elements .title input::-webkit-input-placeholder, .branch-container .aim-content .group-elements .title input::-moz-placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .group-elements .title input::placeholder, .branch-container .aim-content .group-elements .title input::-webkit-input-placeholder, .branch-container .aim-content .group-elements .title input::-moz-placeholder {
  color: #8e8e93;
}

.branch-container .aim-content .group-elements .icons {
  min-width: 100px;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.branch-container .aim-content .group-elements .icons .icon {
  font-size: 1.5em;
  color: #ff2d55;
}

.branch-container .aim-content .group-elements .icons .icon .tooltip {
  display: none;
}

.branch-container .aim-content .group-elements .icons .fa-pen-square {
  color: #ff9500;
}

.branch-container .aim-content .group-elements .icons .fa-comment-alt {
  color: #5ac8fa;
}

.aim-form-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  -webkit-animation: blur .2s forwards;
          animation: blur .2s forwards;
  padding: 1em;
}

.aim-form-container .aim-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aim-form-container .aim-form input {
  max-width: 80%;
}

body, html {
  font-size: 14px;
  overflow-x: hidden;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: .4em 2em;
  }
  .navbar .navigation {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .navigation .btn {
    padding: .2em .5em;
    border-radius: unset;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .navbar .navigation .btn h3 {
    font-size: 1em;
    color: #f2f2f7;
  }
  .navbar .navigation .btn:hover h3 {
    color: #ff9500;
  }
  .navbar .navigation i {
    display: none;
  }
  .navbar .logo a {
    color: #5ac8fa;
  }
  .hide-sm {
    display: block;
  }
  .aim-page {
    height: 100%;
  }
  .aim-page-grid {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .aim-page-grid .hide-sm {
    display: inherit;
  }
  .posts-container {
    align-self: flex-start;
    display: -ms-grid;
    display: grid;
    gap: 1em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .posts-container .select {
    width: 100%;
  }
  .branch-container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto 1fr;
    row-gap: 1em;
  }
  .branch-container .aim-heading .btn-regular {
    text-transform: lowercase;
  }
  .branch-container .aim-heading .fas {
    cursor: pointer;
  }
  .branch-container .aim-content .group-elements .tooltip {
    width: auto;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffcc00;
    color: #2c2c2e;
    position: absolute;
    margin-top: 2em;
    text-align: center;
    font-family: Roboto;
    padding: .4em;
    z-index: 3;
  }
  .branch-container .aim-content .group-elements i:hover .tooltip {
    display: inline-block !important;
  }
  .branch-container .aim-content .group-elements li:hover {
    cursor: pointer;
  }
  .popup {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .popup .aim-form-container, .popup .floating-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .popup .aim-form-container .aim-form, .popup .floating-post .aim-form {
    background: none;
    min-width: 300px;
    max-width: 500px;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup .aim-form-container .post-form, .popup .floating-post .post-form {
    background: none;
    max-width: 500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1em 0;
  }
  .popup .aim-form-container .checkbox, .popup .floating-post .checkbox {
    margin: 1em 0;
  }
  .popup .aim-form-container .form-group input, .popup .floating-post .form-group input {
    width: 200px;
  }
  .boards-page .create-post-form, .boards-page .boards-container {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 500px;
  }
  .profile-setup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-setup .form-container {
    max-width: 500px;
  }
  .profile-setup .form-container .form {
    height: 100%;
    width: 100%;
  }
  .profile-setup .form-container .form .form-group {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .profile-setup .form-container .form .form-group textarea {
    margin: 1em 0;
  }
  .profile-container {
    padding: 1em;
  }
  .profile-container .form-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .profile-container .form-container .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2fr auto;
        grid-template-rows: 1fr 2fr auto;
    gap: 1em;
    width: 100%;
  }
  .profile-container .form-container .form h3 {
    margin: 1em 0;
    padding: 0.5em;
    border-bottom: 1px solid #8e8e93;
    width: 100%;
  }
  .profile-container .form-container .form .user {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2c2c2e;
    -ms-grid-row: 1;
    grid-row: 1 / 1;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .profile-container .form-container .form .about {
    width: auto;
    padding: 1em;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    justify-self: stretch;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2c2c2e;
  }
  .profile-container .form-container .form .about .form-group {
    padding: 0;
  }
  .profile-container .form-container .form .about textarea {
    overflow: scroll;
  }
  .profile-container .form-container .form .social-media {
    padding: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    height: 100%;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2c2c2e;
  }
  .profile-container .form-container .form .social-media .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profile-container .form-container .form .buttons {
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 50%;
  }
  .post-form-container {
    gap: 1em;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: auto 500px auto;
        grid-template-columns: auto 500px auto;
  }
  .post-form-container .select-aim {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .post-form-container .post-form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .landing {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1e), color-stop(rgba(28, 28, 30, 0)), to(#1c1c1e)), url("../img/bg2.jpg");
    background-image: linear-gradient(#1c1c1e, rgba(28, 28, 30, 0), #1c1c1e), url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .landing h1 {
    text-align: left;
  }
  .landing .message {
    text-align: left;
  }
  .landing-grid-one {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
  }
  .landing-grid-two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
  }
  .lan-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    width: auto;
    height: auto;
    padding: 4em;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .lan-card .buttons .btn {
    -ms-grid-column-align: start !important;
        justify-self: start !important;
  }
  .sidebar {
    position: unset;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar .form .btn {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .sidebar input, .sidebar textarea {
    width: 100% !important;
  }
  .slide {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .lan-card:active + .sidebar {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */